# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build output
dist/
build/
.cache/
.next/
.parcel-cache/

# Env
.env
.env.local
.env.*.local
